<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerDirection]="'root'" routerLink="/direct"><ion-icon size="large" style="color:white" mode="ios" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Medicine List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list style="display:contents" *ngFor="let item of items1">
  <ion-card>
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
   <ion-item-options side="end">
        <ion-item-option (click)="delItem(item)" color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-list>
<ion-button expand="block">Dispense</ion-button>
</ion-content>
