ion-toolbar
{
  --ion-toolbar-background:#007EC1 !important;
}

ion-title
{
    --color:white;
}

ion-content {
  
  // overwrite inline styles & hiding the scrollbar
  background-color: white;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
} 