.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-toolbar
{
  --ion-toolbar-background:#007EC1 !important;
}

ion-title
{
    --color:white;
}

 
ion-menu-button
{
  --color:white !important;
}