.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-content {
  
  // overwrite inline styles & hiding the scrollbar
  background-color: white;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
} 
